{% load staticfiles %}
<!DOCTYPE html>
<!-- Based on https://themeforest.net/item/inspire-bootstrap-4-admin-template/19787518?s_rank=1 -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'MyVideoGames/profile.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'MyVideoGames/base.css' %}"/>
        <title>Track Your Video Games</title>
    </head>
    <body>
        <div class="Navigation-bar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Track Your VGs</a>
                    </div>

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                    <div class="navbar-right">
                        {% if user.username %}
                            <button class=" text-capitalize btn navbar-btn">{{ user.username }}</button>
                        <a href="{% url 'profile' %}">
                            <img src="/media/Users/profle.png" alt="Profile" height="35px">
                        </a>
                        <a href="{% url 'logout' %}">
                            <img src="/media/Users/logout.png" alt="Profile" height="35px">
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <img class="btn navbar-btn" src="/media/Users/login.png" alt="Profile" height="35px">
                        </a>
                        <a href="{% url 'register' %}">
                            <button class="btn navbar-btn">Sign Up</button>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        <div class="text-center container" style="margin-top:60px">
            {% block content %}
            <p>Welcome {{ username }} to track your video games.</p>
            {% endblock %}
        </div>
        </div>

    </body>
</html>